.container {
  min-height: 200px;
  background-image: linear-gradient(rgb(168, 243, 243,.3), aquamarine);
}

.flexBox {
  display: flex;
}

.title {
  text-align: center;
  padding: 10px;
}

.normal {
  height: 20px;
  background-color: azure;
}

.companyWrap {
  min-height: 200px;
  margin-left: 10px;
}

.longInput {
  width: 400px;
}

.middleInput {
  width: 200px;
}

.shortInput {
  width: 100px;
}

.name {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.item {
  border: 1px black solid;
  width: 150px;
}

.id {
  border: 1px black solid;
  width: 50px;
}

.btn {
  position: relative;
  margin-left: 70px;
  top: -20px;
}

.line {
  width: 350px;
}

.line1:hover {
  cursor: pointer;
  background-color: white;
}

.line1 {
  width: 350px;
}

.highLight {
  background-color: white;
}