.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  background-image: url('../bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 90vw;
  height: 90vh;
  background-color: rgba(221, 220, 220, 0.6);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
} 

.title {

}

.configWrap {
  width: 100%;
  justify-content: space-around;
}

.configPic {
  width: 120px;
  height: 180px;
  margin-left: 20px;
}

.configDetail {
  flex: 1;
  margin: 0 20px;
}

.form1 {
  margin-bottom: 30px;
}

.form2 {
  background-color: rgb(71, 249, 255);
  width: 300px;
  height: 100px;
}

.dataWrap {
  width: 80%;
  height: 200px;
}

.buttonWrap {
  
}
