.container {
  /* min-height: 200vh; */
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  /* color: aquamarine; */
  background-image: linear-gradient(rgb(168, 243, 243,.3), aquamarine);
}

.content {
  width: 90vw;
  background-color: rgba(221, 220, 220, 0.6);
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
} 

.configWrap {
  width: 100%;
  justify-content: space-around;
}

.configPic {
  width: 120px;
  height: 180px;
  margin-left: 20px;
}

.configDetail {
  flex: 1;
  min-width: 400px;
  max-width: 700px;
  margin: 0 20px;
}

.form1 {
  margin-bottom: 30px;
}

.form2 {
  background-color: rgb(71, 249, 255);
  width: 300px;
  height: 100px;
}

.dataWrap {
  width: 80%;
  min-height: 200px;
  /* background-color: beige; */
}

.tableWrap {
  background-color: white;
}

.line {
  display: flex;
}

.item {
  width: 225px;
  font-size: 13px;
  border: 1px black solid;
}

.confirmBtn{
  margin-right: 150px;
}

.highLight:hover {
  background-color: rgb(170, 236, 116);
  cursor: pointer;
}

.selected {
  background-color: rgb(170, 236, 116);
}

.companyWrap {
  min-height: 200px;
}