.container {
  /* background-color: beige; */
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  background-image: url('../bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container {
  position: relative;
  width: 600px;
  height: 420px;
  background-color: rgba(113, 199, 195, 0.2);
  /* filter: blur(2px); */
  border-radius: 15px;
}

.display-pic {
  width: 50%;
  height: 100%;
  background-color: transparent;
  /* turquoise */
}

.form-wrap {
  flex: 1;
  height: 100%;
}

.dataImg {
  width: 180px;
  height: 290px;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(5, 5, 5, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: 140px;
  width: 180px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(254, 255, 251, 0.6);
}

.modal-text {
  margin-bottom: 20px;
}

.hideModal {
  display: none;
}