.container {
    padding: 12px;
    border: 1px grey solid;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.lineWrap1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.lineWrap2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.formUnit {
    display: flex;
    align-items: center;
}

.input {
    width: 70px;
    height: 20px;
    margin: 0 6px;
}

.unit {
    font-size: 5px;
}
