.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatarImg {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: white;
    background-image: url('avatar.jpeg');
    background-size: cover;
}

.account {
    margin-bottom: 15px;

}

.password {
    margin-bottom: 25px;
}

.buttonWrap {
    display: flex;
    justify-content: space-between;
    width: 160px;
}
