.App {
  background-color: aqua;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
  background-color: beige;
  text-align: center;
}

.body {
  flex: 1;
}